
<h2 mat-dialog-title>{{tarea.titulo}}</h2>
<form action="editarTarea()" [formGroup]="editarTareaForm">
  <mat-form-field class="full-width" appearance="legacy">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estado">
     <mat-option value="{{ estadosTarea.toDo }}">ToDo</mat-option>
     <mat-option value="{{ estadosTarea.doing }}">Doing</mat-option>
     <mat-option value="{{ estadosTarea.done }}">Done</mat-option>
    </mat-select>
    <mat-error>Campo obligatorio</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="legacy">
      <mat-label>Fecha limite</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <mat-form-field class="full-width" appearance="legacy">
    <mat-label>Prioridad</mat-label>
    <mat-select formControlName="prioridad">
      <mat-option *ngFor="let prioridad of prioridadesTarea" [value]="prioridadesTarea">
        {{ obtenerPrioridadNombre(prioridad)}}
      </mat-option>
    </mat-select>
    <mat-error>Campo obligatorio</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="legacy">
    <mat-label>Descripción</mat-label>
    <textarea matInput placeholder="Descripción..." formControlName="descripcion"></textarea>
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" class="botonGuardar" (click)="editarTarea()" [disabled]="editarTareaForm.invalid">Save</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
