*{
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
}
.someday{
  background-color: #E6E8EA;
}
.low{
  background-color: #AAE3EE;
}
.medium{
  background-color: #F0E80A;
}
.high{
  background-color: #FD9D30;
}
.veryhigh{
  background-color: #D32727;
  color: white;
}
