.card{
  margin-bottom: 5px;
  width: 200px;
  background-color: #F1F0EE;
  border-radius: 10px;
  padding: 5px;
}
.tituloTarea{
  padding-top: 5px;
  font-size: large;
}
button{
  text-align: left;
  font-weight: 200;
}
